@CHARSET "UTF-8";

form table td, form table th{padding:10px 5px;}

form td.as-table-label{text-align:right;}

form .normal-button{border:1px solid #666;background:#efefef;border-top:none;border-left:none;padding:3px 10px;font-size:12px;}

form .type-text input{border:1px solid #ccc;height:25px;line-height:25px;padding:0 5px}